{% extends "base.html" %}

{% block extra_js %}
{% include 'partials/settings/js_init.html' %}
{% include 'partials/settings/js_knowledge.html' %}
{% include 'partials/settings/js_knowledge_preview.html' %}
{% include 'partials/settings/js_skills.html' %}
{% include 'partials/settings/js_cron_updates.html' %}
{% endblock %}

{% block content %}
{% include 'partials/settings/header.html' %}
{% include 'partials/settings/section_general.html' %}
{% include 'partials/settings/section_rules.html' %}
{% include 'partials/settings/section_subscription.html' %}
{% include 'partials/settings/section_permissions.html' %}
{% include 'partials/settings/section_notifications.html' %}
{% include 'partials/settings/section_advanced.html' %}
{% include 'partials/settings/section_updates.html' %}
{% include 'partials/settings/section_cron.html' %}
{% include 'partials/settings/section_knowledge.html' %}
{% include 'partials/settings/section_memory_bridge.html' %}
{% include 'partials/settings/section_memory_logs.html' %}
{% include 'partials/settings/section_skills.html' %}
{% include 'partials/settings/section_plugins.html' %}
{% include 'partials/settings/content_footer.html' %}
{% endblock %}
